h2 PO TONG
p FULL STACK WEB DEVELOPER
p potong616@gmail.com
ul
  li
    a(href="https://www.linkedin.com/in/potong")
      img(src="img/linkedin-icon.png" alt"LinkedIn")
  li
    a(href="https://github.com/powebdev")
      img(src="img/github-icon.png" alt"GitHub")