h2= aboutMe.name
p= aboutMe.title
p= aboutMe.email
ul
  li
    a(href= aboutMe.linkedin)
      img(src="img/linkedin-icon.png" alt"LinkedIn")
  li
    a(href= aboutMe.github)
      img(src="img/github-icon.png" alt"GitHub")