extends ./layout.jade

block content-heading
  h1 About Me

block content
  section(class="content" id="about-me-content")
    .card.about-me-card
      header
        #me-portrait
          img(src="img/po.png" alt="It's a me")
        #me-intro
          #spacer-div
          #me-name
            h2 PO TONG
          #me-title
            p FULL STACK WEB DEVELOPER
      section
        #about-me
          p Bacon ipsum dolor amet pork belly chuck ground round shank tri-tip. Turkey hamburger jerky pastrami corned beef chicken. Strip steak ribeye shoulder porchetta tri-tip rump capicola flank. Swine porchetta capicola, jerky pig ground round venison pancetta ball tip picanha. Meatloaf kevin shoulder, ball tip ribeye tri-tip corned beef t-bone pork turkey salami rump sirloin bacon. Bacon ipsum dolor amet pork belly chuck ground round shank tri-tip. Turkey hamburger jerky pastrami corned beef chicken. Strip steak ribeye shoulder porchetta tri-tip rump capicola flank. Swine porchetta capicola, jerky pig ground round venison pancetta ball tip picanha. Meatloaf kevin shoulder, ball tip ribeye tri-tip corned beef t-bone pork turkey salami rump sirloin bacon. Bacon ipsum dolor amet pork belly chuck ground round shank tri-tip. Turkey hamburger jerky pastrami corned beef chicken. Strip steak ribeye shoulder porchetta tri-tip rump capicola flank. Swine porchetta capicola, jerky pig ground round venison pancetta ball tip picanha. Meatloaf kevin shoulder, ball tip ribeye tri-tip corned beef t-bone pork turkey salami rump sirloin bacon.
    
