extends ./layout.jade

block content-heading
  h1 About Me

block content
  section(class="content" id="about-me-content")
    .card.about-me-card
      header
        #me-portrait
          img(src=aboutMe.pic alt="It's a me")
        #me-intro
          #spacer-div
          #me-name
            h2= aboutMe.name
          #me-title
            p= aboutMe.title
      section
        #about-me
          p= aboutMe.bio
    
