doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    style
      *{font-family: roboto;}
  body
    h1 heading one
    h2 heading two
    h3 heading three
    h4 heading four
    p paragraph