footer {
	text-align: center;
	width: 100%;
	background-color: $dark-bg-color;
	color: $dark-bg-primary-color;
	padding: 32px 0;
	box-sizing: content-box;

	ul {
		padding: 0;
		li {
			display: inline-block;
		}
	}

	@media #{$media} {
		@media (max-width: $breakpoint-mobile-lg) {
			display: inline;
		}
		@media (min-width: $breakpoint-mobile-lg + 1px) {
			display: none;
		}
	}
}

