$media: screen;

$font-stack: roboto, sans-serif;
$dark-bg-color: #170d0c;
$light-bg-color: #b0bec5;
$dark-bg-primary-color: white;
$dark-bg-secondary-color: rgba(255, 255, 255, 0.7);
$light-bg-primary-color: rgba(0, 0, 0, 0.87);
$light-bg-secondary-color: rgba(0, 0, 0, 0.54);

$tag-bg-color: dimgrey;

$nav-pane-width: 300px;

$project-card-width: 300px;

$about-me-card-width-lg: 600px;
$about-me-card-width-md: 600px;
$about-me-card-width-sm: 500px;
$about-me-card-width-mobile: 400px;

$card-spacing: 12px;

$breakpoint-desktop-xl: 1920px;
$breakpoint-desktop-lg: 1600px;
$breakpoint-desktop-md: 1280px;
$breakpoint-desktop-sm: 960px;
$breakpoint-mobile-lg: 840px;
$breakpoint-mobile-md: 650px;
$breakpoint-mobile-sm: 480px;

$one-card-width: 1;
$two-card-width: 2;
$three-card-width: 3;
$four-card-width: 4;
$five-card-width: 5;
